.App {
  text-align: center;
}

.control-btn{
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 1px 5px;
}

.cards-list{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px){
  .cards-list{
    flex-direction: column;
    align-items: center;
  }
}

.add-form{
  width: 300px;
  margin: 10px 0;
}

.add-form input{
  margin: 3px 0;
}